@page "/"

<PageTitle>Home</PageTitle>

<div style="text-align: center; padding: 50px;">
    <h1>Hola, bienvenidos!</h1>

    <p style="font-size: 1.2em;">Facturación en línea</p>

    <a href="/Facturas" style="
        background-color: #4caf50;
        color: white;
        border: 1px solid #388e3c;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        display:
inline-block;
        margin-top: 20px;
        font-size: 1.1em;
        border-radius: 4px;
        margin-right: 10px;
    ">
        Ir a Facturación
    </a>
    <a href="/ReporteSat" style="
        background-color: #4CAF50;
        color: white;
        border: 1px solid #388E3C;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        display:
inline-block;
        margin-top: 20px;
        font-size: 1.1em;
        border-radius: 4px;
    ">
        Reportes
    </a>
    <a href="/Dashboard" class="btn btn-primary" style="margin-top: 20px;">Ir al Dashboard</a>
</div>